.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#submitButton {
    padding-left: 240px;
}


.container {
    margin-top: 50px;
    margin-left: 400px;
}

#EmailValidation {
    padding-left: 20px;
}

#validateEmail {
    padding-left: 180px;
}

#cancel{
    margin-left: 30px;
}