.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#submitButton {
    padding-left: 630px;
}


.container {
    margin-top: 50px;
    margin-left: 450px;
}

#EmailValidation {
    padding-left: 20px;
}

#validateEmail {
    padding-left: 180px;
}

#submitRegister {
    padding-left: 290px;
}
